* {
    box-sizing: border-box;
}

.navbar .nav-item {
    margin-left: 200px;
    gap: 20px;
}

.navbar .container img {
    height: 40px;
    padding-bottom: 6px;
}

.mr {
    margin-left: 200px;
}


/* carousel/navigation start */
.navigation {
    height: 550px;
    background-color: #78853F;

}

.navigation .banner img {
    height: 630px;
    padding: 30px 60px;
}

.content {
    margin-left: 80px;
    width: 26rem;
    margin-bottom: 12rem;
}

.navigation h4 {
    color: yellow;
}

.navigation .cerousel-caption,
h1 {
    font-weight: bold;
}

.navigation .cerousel-caption,
p {
    font-size: smaller;
}

.btn-w {
    background-color: white;
    margin-left: 6px;
}

.btn-y {
    background-color: yellow;
}

.btn-w,
.btn-y {
    height: 35px;
    width: 120px;
    border: none;
}


.carousel-indicators [data-bs-target] {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    transform: translateY(-10rem);
    translate: -22.2rem;

}

/* carousel section end */


/* banner section start*/
.col-row {
    display: flex;
    padding: 120px 120px 60px 120px;
}

.row {
    display: flex;
}

.col-row .mt-4 {
    gap: 20px;
}

/* banner section end*/

/* bg-img section start */
.bg-img {
    display: flex;
}

.bg-img .text {
    background-color: #F7F7F7;
    padding: 100px 180px 0 60px;
}

.bg-img .text button {
    border: none;
    background-color: yellow;
    height: 40px;
    width: 130px;
}

/* bg-img section start */

/* carousel-2 start */
.caro-container {
    width: 100%;
    height: 85vh;
    text-align: center;
    padding-top: 3rem;
}

.caro-container .caro-img {
    width: 250px !important;
    margin: auto;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #78853F;
}

.carousel-control-prev {
    left: 10% !important;
}

.carousel-control-next {
    right: 10% !important;
}

.caro-container p {
    width: 900px;
    margin: auto;
}

.caro-container i {
    color: #78853F;
    font-size: 2rem !important;

}

/* carousel-2 end */

/* form-map start */
.form-nav {
    background-color: #90973B;
    padding: 3rem 14rem;
}

.form-nav h4 {
    text-align: center;
    margin-bottom: 3rem;

}

.form-map {
    display: flex;
    gap: 2rem;
    height: 260px;
    padding-left: 50px;
}

.form-map .input-r {
    border-radius: 15px;
    border: none;
    width: 300px;
    padding-left: 15px;
}

.form-map form {
    padding-left: 80px;
}

.form-map .in-4 {
    height: 5rem;
}

.form-nav .form-map button {
    height: 2rem;
    width: 90px;
    background-color: red;
    border: none;
    font-size: x-small;
    color: white;
    font-weight: bold;
    border-radius: 17px;
    cursor: pointer;

}

.form-nav .map-size {
    height: 250px;
    width: 100%;
    border-radius: 10px;
}

/* form-map end */

/* footer start */
footer {
    background-color: #252525;
    padding: 3rem 14rem;
}

footer .parent {
    color: #FFFFFD;
}

.footer-text {
    color: white;
    padding-left: 29%;
}

.footer-in {
    border-radius: 25px;
    padding-left: 20px;
    border: none;

}

.footer-btn {
    border-radius: 25px;
    margin-left: 0px;
    border: none;
    background-color: yellow;
    padding: 0 30px;
    height: 28px;
}

.footer-feild {
    width: 346px;
    height: 28px;
    background-color: white;
    border-radius: 25px;
}

.footer-header {
    display: flex;
    gap: 5rem;
}

.parent {
    display: flex;
    gap: 3rem;
}

.parent .img-cont {
    display: flex;
    align-items: center;
    gap: 10px;
}

.parent .img-cont h5 {
    font-weight: bold;
}

.parent h5 {
    margin: 2rem 0;
}

footer .img-cont img {
    height: 50px;
}

/* footer end */

.end-title {
    background-color: #7A772D;
    color: white;
    text-align: center;
    height: 5vh;
}

.end-title p {
    padding-top: 5px;
}

















/*** Responsive start ***/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .mr {
        margin: 0;
    }

    .navbar .nav-item {
        margin: auto;
    }

    /* navigation */
    .navigation {
        height: 400px;
    }

    .navigation .banner img {
        height: 460px;
        padding: 30px 45px;
    }

    .content {
        width: 12rem;
        margin-left: 25px;
        margin-bottom: 8rem;
    }

    .navigation h4 {
        font-size: small;
    }

    .navigation .cerousel-caption,
    h1 {
        font-size: larger;
    }

    .navigation .cerousel-caption,
    p {
        font-size: xx-small;
    }

    .btn-w,
    .btn-y {
        height: 22px;
        width: 75px;
        font-size: x-small;
    }

    /* bg-img */
    .bg-img img {
        height: 300px;
        width: 50%;
    }

    .bg-img .text {
        padding: 70px 30px 0 20px;

    }

    .bg-img .text h4 {
        font-size: medium;
    }

    .bg-img .text button {
        height: 30px;
        width: 80px;
        font-size: x-small;
    }

    /* carousel */
    .caro-container {
        height: 80vh;
        padding-top: 4rem;
    }

    .caro-container .caro-img {
        width: 150px !important;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 20px;
    }

    .caro-container p {
        width: 400px;
    }

    .caro-container i {
        font-size: 25px !important;
    }

    /* form-map start */
    .form-nav {
        padding: 50px 10px;
    }

    .form-nav h4 {
        margin-bottom: 1rem;
        font-size: large;
    }

    .form-map {
        gap: 30px;
        padding-left: 20px;
    }

    .form-map .input-r {
        width: 200px;
        padding-left: 10px;
        font-size: small;
    }

    .form-map form {
        padding-left: 50px;
    }

    .form-map .in-4 {
        height: 4rem;
    }

    .form-nav .form-map button {
        width: 80px;
    }

    .form-nav .map-size {
        height: 220px;
        width: 80%;
    }

    /* footer start */
    footer {
        padding: 3rem 1rem;
    }

    .footer-text {
        font-size: small;
    }

    .footer-in {
        padding-left: 10px;
        font-size: small;
    }

    .footer-btn {
        padding: 0 15px;
        font-size: x-small;
    }

    .parent .img-cont {
        gap: 10px;
    }

    .parent .img-cont h5 {
        font-weight: bold;
        
    }

    .parent h5 {
        font-size: small;
    }

    footer .img-cont img {
        height: 30px;
    }
}



/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
    ...
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
    ...
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
    ...
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
    ...
} */