.navbar .container img{
    height: 40px;
    padding-bottom: 6px;
}
.mr{
    margin-left: 200px;
}


/* carousel/navigation start */
.navigation{
    height: 550px;
    background-color: #78853F;
   
}
.navigation .banner img{
    height: 630px;
    padding: 30px 60px;
}
.content{
    margin-left: 80px;
}
.btn-w{
    background-color: white;
    margin-left: 6px;
}
.btn-y{
    background-color: yellow;
}
.btn-w, .btn-y{
    height: 35px;
    width: 120px;
    border: none;
}
.navigation h4{
    color: yellow;
}
.navigation .cerousel-caption, h1{
font-weight: bold;
}
.navigation .cerousel-caption, p{
    font-size: smaller;
}
.carousel-indicators [data-bs-target]{
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
/* carousel section end */


/* banner section start*/
.col-row{
    display: flex;
    padding: 120px 120px 60px 120px;
}
.row{
    display: flex;
}
.col-row .mt-4{
    gap: 20px;
}
/* banner section end*/

/* bg-img section start */
.bg-img{
    display: flex;
}

.bg-img .text{
    background-color: #F7F7F7;
    padding-top: 130px;
}
.bg-img .text button{
    border: none;
    background-color: yellow;
    height: 40px;
    width: 130px;
}
/* bg-img section start */

/* carousel-2 start */
.caro-container{
    width: 100%;
    height: 85vh;
    text-align: center;
    padding-top: 3rem;
}
.caro-container .caro-img{
    width: 250px!important;
    margin: auto;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: #78853F;
}
.carousel-control-prev{
    left: 10%!important;
}
.carousel-control-next{
    right: 10%!important;
}
.caro-container i{
    color: #78853F;
    font-size: 2rem!important;
    
}
/* carousel-2 end */

/* form-map start */
.form-nav{
    background-color: #90973B;
    padding: 3rem 14rem;
}
.form-nav h4{
    text-align: center;
    margin-bottom: 3rem;

}

.form-map{
    display: flex;
    gap: 2rem;
    height: 260px;
    padding-left: 50px;
}
.form-map .input-r{
    border-radius: 15px;
    border: none;
    width: 320px;
    padding-left: 20px;
}
.form-map form{
    padding-left: 40px;
}
.form-map .in-4{
    height: 5rem;
}
.form-nav .form-map button{
    height: 2rem;
    width: 90px;
    background-color: red;
    border: none;
    font-size: x-small;
    color: white;
    font-weight: bold;
    border-radius: 17px;

}
.form-nav .map-size{
    height: 250px;
    width: 100%;
    padding-left: 2rem;
}
 /* form-map end */

/* footer start */
footer{
    background-color: #252525;
    padding: 3rem 14rem;
}
footer .parent{
    color: #FFFFFD;
}
.footer-text{
    color: white;
    padding-left: 29%;
}
.footer-in{
    border-radius: 25px;
    padding-left: 20px;
    border: none;

}
.footer-btn{
    border-radius: 25px;
    margin-left: 0px;
    border: none;
    background-color: yellow;
    padding: 0 30px;
    height: 28px;
}
.footer-feild{
    width: 346px;
    height: 28px;
    background-color: white;
    border-radius: 25px;
}
.footer-header{
    display: flex;
    gap: 5rem;
}
.parent{
    display: flex;
    gap: 3rem;
}
.parent .img-cont{
    display: flex;
    align-items: center;
    gap: 10px;
}
.parent .img-cont h5{
    font-weight: bold;
}
.parent h5{
    margin: 2rem 0;
}
footer .img-cont img{
   height: 50px;
}
/* footer end */

.end-title{
    background-color: #7A772D;
    color: white;
    text-align: center;
    height: 5vh;
}
.end-title p{
    padding-top: 5px;
}


/*** Responsive start ***/



/*** Responsive end ***/





